<div>
  <section>
    <article class="one_third">

      <div id="profile-img">
        <%= link_to edit_user_path(@user) do %>
          <%= image_tag @user.image %>
          <% end %>
        <%= content_tag :p, @user.first_name + ' ' + @user.last_name %>
      </div>
      <hr/>

      <div>

      <%= form_for [@user,@rant] do |f| %>
        <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :body %>
          <%= f.text_field :body %>

          <%= f.submit %>
          <%end %>

      </div>

    </article>

    <article class="two_third">
      <h1>My Rants</h1>

      <% @user.rants.each do |rant| %>
        <div>
          <%= image_tag @user.image %>
        </div>
      <div>
        <%= rant.title %>
        <%= rant.body %>
      </div>
      <%end %>



    </article>
  </section>
</div>