<div>
  <section>
    <article class="one_third left-container">

      <div id="profile-img">
          <div class="thumbnail">
            <%= image_tag current_user.image %>
          </div>
        <%= link_to edit_user_path(current_user) do %>
          <p><%= fullname(current_user) %></p>
        <% end %>
      </div>
      <hr/>

      <%= render partial: 'rants/new_rant', locals: {rant: @rant} %>

    </article>

    <article class="two_third right-container">
      <h1>My Rants</h1>

      <%= render my_rants %>
      <hr/>
      <h1>Latest Rants</h1>

      <%= render latest_rants %>

    </article>
  </section>
</div>