<div>
  <section>
    <article class="one_third left-container">

      <div id="profile-img">
          <div class="thumbnail">
            <%= image_tag current_user.image %>
          </div>
        <%= link_to edit_user_path(current_user) do %>
          <p><%= fullname(current_user) %></p>
        <% end %>
      </div>

      <hr/>

      <%= render partial: 'rants/new_rant', object: @dashboard.new_rant, as: :rant %>

    </article>

    <article class="two_third right-container">
      <h1>My Mentions</h1>


      <%= render @dashboard.mentions %>
      <hr/>
      <h1>My Rants</h1>


      <%= render @dashboard.my_rants %>
      <hr/>
      <h1>Latest Rants</h1>

      <%= render @dashboard.latest_rants %>

    </article>
  </section>
</div>