<div>
  <section>
    <article class="one_third left-container">

      <div id="profile-img">
        <%= link_to edit_user_path(current_user) do %>
          <div class="thumbnail">
          <%= image_tag current_user.image %>
          </div>
      <% end %>
        <p><%= fullname(current_user) %></p>
      </div>
      <hr/>

      <div>

        <%= form_for new_rant do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :body %>
          <%= f.text_field :body %>

          <%= f.submit %>
        <% end %>

      </div>

    </article>

    <article class="two_third right-container">
      <h1>My Rants</h1>

      <%= render my_rants %>
      <hr/>
      <h1>Latest Rants</h1>

      <%= render latest_rants %>

    </article>
  </section>
</div>