<h1>Profile</h1>
<div class="profile-img">

  <div class="thumbnail">
    <%= image_tag user.image_url %>
    <p>User: <%= fullname(user) %></p>

    <p>Rant Frequency: <%= user.rant_freq %></p>

    <p>Bio: <%= user.bio %></p>
  </div>
</div>

<%= follow_button(user) %>
<h1>Current Rants</h1>
<div>
  <%= render sort_by_fav_count(user.rants) %>
</div>