<h1>Profile</h1>
<div>
    <%= image_tag user.image %>
  <p>Rant Frequency: <%= user.rant_freq %></p>
  <p>Bio: <%= user.bio %></p>
</div>

<%= follow_button(user) %>
<h1>Current Rants</h1>
<div>
  <%= render user.rants %>
</div>