<div>

  <div>
    <%= link_to user_path(rant.user) do %>
      <%= image_tag rant.user.image %>
    <% end %>
  </div>
  <div>
    <%= rant.title %>
    <br/>
    <%= link_to rant.body, rant_path(rant) %>
  </div>
  <%= render partial: 'following_relationships/follow_buttons', locals: {user: rant.user} %>

  <% if current_user == rant.user %>
    <%= button_to "Delete", rant_path(rant.id), method: :delete %>
  <% end %>
</div>