<div>

  <div>
    <%= link_to user_path(rant.user) do %>
      <%= image_tag rant.user.image %>
    <% end %>
  </div>
  <div>
    <%= rant.title %>
    <br/>
    <%= link_to rant.body, rant_path(rant) %>
  </div>

  <%= follow_button(rant.user) %>

  <% if is_me?(rant.user) %>
    <%= button_to "Delete", rant_path(rant.id), method: :delete %>
  <% end %>
</div>