<div>

  <div class="profile-img">
    <div class="thumbnail">
      <%= link_to user_path(rant.user) do %>
        <%= image_tag rant.user.image_url %>
      <% end %>
    </div>
  </div>
  <div class="rant">
    <%= rant.title %>
    <br/>
    <%= link_to markdown(rant.body).html_safe, rant_path(rant) %>
  </div>
  <% count = rant.num_favs %>
  <% if count > 0 %>
    <p>Favorited: <%= count%></p>
  <% end %>

  <%= follow_button(rant.user) %>

  <%= favorite_button(rant) %>

  <% if is_me?(rant.user) %>
    <%= button_to "Delete", rant_path(rant.id), method: :delete %>
  <% end %>
</div>