<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="clearfix">
    <div class="outer-header">
      <h1 class="header-text"><%= link_to 'Rant.ly', '/' %></h1>
    </div>

    <% if current_user %>

      <div class="header-tools">
        <div class="logged-in-links">
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "Following", following_path %>
          <%= link_to "Favorites", "/" %>
          <%= link_to "Search", "/" %>
        </div>
        <div class="join-link">
          <%= link_to "Logout", signout_path, id: 'join-link' %>
        </div>

      </div>
    <% else %>
      <div class="header-tools">

        <%= link_to "Login", signin_path %>

        <div class="join-link">
          <%= link_to "Join", new_registration_path, id: 'join-link' %>
        </div>

      </div>

    <% end %>
  </div>

</header>

<div class="wrapper content">
  <% if flash[:notice] %>
    <div class="notice">
      <p><%= flash[:notice] %></p>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
